name: Optimize resource pack
permissions:
  contents: write

on:
  push:
    branches:
      - '**'
    paths:
      - 'pack/**'

jobs:
  build:
    name: Optimize resource pack
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v3
        with:
          path: pack
          artifact_name: optimized_pack_${{ github.run_id }}
          allow_optifine_mod: true # デフォルト: false / Optifine の有効化
          maximum_image_width_and_height: 8192 # デフォルト: 8192 / 画像の最大幅・高さ
  release:
    name: Release resource pack
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download optimized pack
        uses: actions/download-artifact@v3
        with:
          name: optimized_pack_${{ github.run_id }}
      - name: Rename pack file
        run: mv pack.zip ojousaba_resourcepack_${{ github.ref_name }}.zip
      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          files: ojousaba_resourcepack_${{ github.ref_name }}.zip
